<app-car></app-car>
<div class="row">
<div *ngFor="let cardetail of carDetails"  class="card text-dark bg-light mb-2" style="max-width: 22rem;">
  <img  src="{{imageBasePath}}{{cardetail.imagePath}}" class="card-img-top" alt="thumbnail" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title">{{cardetail.brandName}} {{cardetail.carName}}</h5>
    <p class="card-text">{{cardetail.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Renk: {{cardetail.colorName}} </li>
    <li class="list-group-item">Model: {{cardetail.modelYear}}</li>
    <li class="list-group-item">Günlük Fiyat: {{cardetail.dailyPrice}}</li>
  </ul>
  <div class="card-body">
    <div class="d-grid gap-2 col-8 mx-auto">
      <button   (click)="setCurrentCar(car)" routerLink="/cars/details/{{cardetail.carId}}" class="btn btn-outline-dark" type="button">Detaya Git</button>
    </div>
  </div>
</div>
</div>
<br>

