<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <h1 class="h3 mb-3 fw-normal">Kayıt ol</h1>

        <div class="form-floating">
            <input
            formControlName="firstName"
              type="text"
              class="form-control"
              id="firstName"
              placeholder="firstName"
            />
            <label for="firstName">Ad</label>
          </div>

          <div class="form-floating">
            <input
            formControlName="lastName"
              type="text"
              class="form-control"
              id="lastName"
              placeholder="lastName"
            />
            <label for="lastName">Soyad</label>
          </div>

        <div class="form-floating">
            <input
            formControlName="password"
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Parola</label>
          </div>


        <div class="form-floating">
          <input
          formControlName="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email</label>
        </div>
  
        <br>
  

        <button class="w-100 btn btn-lg btn-primary" (click)="register()">
          Kayıt Ol
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </body>
  