<div class="card">
  <div class="card-header">
    <h5>Kart Bilgileri</h5>
   </div>

    <div class="card-header">
       <form [formGroup]="paymentForm">
            <label for="nameOnCard"> İsim </label>
            <input type="text"id="carId" formControlName="nameOnCard"
            class="form-control" placeholder="İsim">
        </form>
 
           <form [formGroup]="paymentForm">
             <label for="lastNameOnCard"> Soyisim </label>
             <input type="text"id="lastNameOnCard" formControlName="lastNameOnCard"
             class="form-control" placeholder="Soyisim">
         </form>
         
      <form [formGroup]="paymentForm">
          <label for="cardNumber">Kart Numarası</label>
          <input type="text" id="cardNumber"  formControlName="cardNumber" 
          class="form-control" placeholder="kart numarası ">
      </form>

      <form [formGroup]="paymentForm">
          <label> Son Kullanım Tarihi (AA/YY)</label>
          <div class="row">
             <div class="col-md-2">
              <input type="text" id="expirationDateMonth"  formControlName="expirationDateMonth" max="5"
              class="form-control" >
             </div>

             <div class="col-md-2">

              <input type="text" id="expirationDateYear"   formControlName="expirationDateYear" max="5"
              class="form-control">
             </div>
          </div>

         
      </form>

          
      <form [formGroup]="paymentForm">
          <label for="cardCVV">CVV</label>
          <input type="text" id="cardCVV"  formControlName="cardCVV" 
          class="form-control" placeholder="CVV  ">
      </form>

    </div>
  


  <div class="card-footer">
   
      <button type="button" (click)="paymentCheck()"   class="btn btn-info"> Öde</button>
  </div>
</div>