<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Kart Bilgileri</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="paymentForm">
          <div class="mb-3">
            <label for="nameOnCard"> İsim </label>
            <div class="form-group">
              <input
                type="text"
                id="nameOnCard"
                formControlName="nameOnCard"
                class="form-control"
                placeholder="İsim"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="lastNameOnCard"> Soyisim </label>
            <div class="form-group">
              <input
                type="text"
                id="lastNameOnCard"
                formControlName="lastNameOnCard"
                class="form-control"
                placeholder="Soyisim"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="cardNumber"> Kart Numarası </label>
            <div class="form-group">
              <input
                type="text"
                id="cardNumber"
                formControlName="cardNumber"
                class="form-control"
                placeholder="Kart numarası"
              />
            </div>
          </div>

          <div class="mb-3">
            <label>Son Kullanım Tarihi (AA/YY) </label>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <input
                    type="text"
                    id="expirationDateMonth"
                    formControlName="expirationDateMonth"
                    class="form-control"
                    placeholder="00"
                  />
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <input
                    type="text"
                    id="expirationDateYear"
                    formControlName="expirationDateYear"
                    class="form-control"
                    placeholder="00"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="cardCVV"> CVV </label>
            <div class="form-group">
              <input
                type="text"
                id="cardCVV"
                formControlName="cardCVV"
                class="form-control"
                placeholder="CVV"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button
          type="button btn-fill btn-dark"
          (click)="paymentCheck()"
          class="btn btn-info"
        >
          Öde
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="mb-3">
    <label for="registeredCard"></label>
    <div class="form-group">
      <div class="form-check">
        <input
          (click)="registeredCard($event)"
          type="checkbox"
          class="form-check-input"
          id="registeredCard"
        />
        <label class="form-check-label" for="registeredCard"
          >Kartı Kaydet</label
        >
      </div>
    </div>
  </div>
</div>


<br>
<br>

  <div *ngFor="let card of userCards" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">KartNo: {{card.cardNumber}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Kayıtlı kişinin: </h6>
      <p class="card-text">Ad:{{card.nameOnCard}}  Soyad:{{card.lastNameOnCard}} </p>
      <a href="#" class="card-link">Bu Kart ile öde</a>
    </div>
  </div>

